@media screen and (min-width: 701px) and (max-width: 3000px) {

    .lamp {
        width: 400px;
    }

    .lamp-container {
        margin-left: 70px;
        position: relative;
        
        
    }

    .who {
        font-family: Roboto;
        font-weight: 900;
        font-size: 45px;
        color: rgb(65, 64, 64);
        position: absolute;
        left: 0;
        top: 0;
    }

    .whoiam-container {
        width: 1300px;
        
        display: flex;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 70px;
        padding-right: 70px;
        
        margin-bottom: 80px;

        background-image: url("../images/background.png");
        
        position: relative;
    }

    .opaco {
        width: 100%;
        height: 100%;
        background-color: rgb(128, 128, 196);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
    }

    
    
    
    .header-container {
        display: flex;
        height: 90px;
        /* background-color: rgb(55, 107, 184); */
        background-image: linear-gradient(to top right, white 10%, blue 100%);
        padding-top: 30px;
        flex-direction: row;
        

    }
    
    ul {
        margin-left: 80px;    
    }
    
    li {
        display: flexbox;
        display: inline;
        margin-right: 35px;
        font-size: 20px;
        color: white;
        
    }

    .list-item-phone {
        display: none;
    }

    .list-item-pc {
        font-family: Roboto;
        font-size: 15px;
    }

    

    body {
        display: flex;
        justify-content: center;
    }

    .main-container {
        max-width: 1300px;
       
        align-content: center;
       
    }

   

    
    .content-container {
        background-color: rgb(243, 243, 243);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
       
        
        
    }
    
    .picture-container {
        
        /*display: inline-block;*/
            
    }
    
    .my-picture {
        width: 350px;
        border: none;
        border-radius: 10px;
        margin-top: 150px;
        margin-bottom: 150px;
        margin-left: 180px;
        margin-right: 30px;
        box-shadow: 10px 10px 30px rgb(114, 114, 114);
    }
    
    .description-container {
        height: 470px;
        /* background-color: blueviolet; */
        display: inline-block;
        padding-right: 100px;
        flex-shrink: 0;
        
    }

    .say-hello {
        
        font-size: 35px; 
        color: rgb(174, 171, 171);

        padding-top: 100px;
        padding-left: 50px;
        
    }

    .name-row {
        font-size: 80px; 
        color: rgb(174, 171, 171);
        padding-left: 50px;
    }
    
    .name {
        color: rgb(55, 107, 184);
        
    }

    .par-section {
        line-height: 25px;
        font-size: 22px;
        font-family: Roboto;
        color: rgb(108, 107, 107);
       
        
        margin-left: 40px;
        margin-right: 40px;
    
        text-align: justify;
        
    }

    .after-line {
        margin-top: 22px;
    }

    .education-par {
        margin-left: 8px;
        
    }
    
    .footer-container {
        
        height: 500px;
        background-color: rgb(243, 243, 243);
       
    }
    
    .icons-container {
        height: 30px;
        background-color: aliceblue;
        padding-left: 40px;
        
    }
    
    .icon {
        width: 20px;
        height: 20px;
        background-color:  aliceblue;
        display:inline-block;
        margin-right: 20px;
    }
    
    .logo {
        width: 70%;
        border-radius: 10px;
    }
    
    .icon3 {
        background-color: white;
    }
    
    .maxima {
       
        font-family: Roboto; 
        font-size: 35px;
        font-weight: bold;
        box-shadow: 5px 5px 20px rgb(192, 190, 190);
        overflow: scroll;
        margin-top: 10px;
        margin-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    } 

    .resume-section {
        display: flex;
        justify-content: center;
    }

    .resume-button {
        width: 40%;
        height: 40px;
        color: white;
        background-color: rgb(55, 107, 184);
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius: 16px;
        
        
    }


    /*------- Section "Who am I" -------*/

  

    .section-title {
        font-family: Roboto;
        font-weight: 900;
        font-size: 45px;
        color: rgb(55, 107, 184);
        
        display: inline;
        margin-left: 20px;
        margin-top: 25px;
        position: relative;
        top: 230px;

        border: 1px solid black;
    }

    .color-line {
        width: 70%;
        height: 10px;
        background-color: rgb(55, 107, 184);
        display: inline-block;
        margin-left: 10px;
    }

    .text-container {
        margin-left: 50px;
        width: 550px;

        border: 1px solid black;
    }

    .text-container-sub1 {
        display: flex;
    }

    /*------- Section "Education" -------*/

    
    .education-image-container {
        
        display: inline-block;
        margin-right: 20px;
        display: flex;
        align-items: center;
        

    }

    .education-image {
        width: 100px;
    }
    
    .education-container {
        
        display: inline-block;
        display: flex;
        flex-direction: column;
        
    }

    .education-general-container {
        display: flex;
        flex-direction: row;
    }

    .first-container {
        display: flex;
    }

    .education-date {
        display: inline;
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-right: 150px;
        font-size: 30px;
    }

    .vertical-color {
        width: 5px;
        height: 120px;
        background-color: rgb(55, 107, 184);
        margin-left: 65px;
    }

    .inter-second {
        margin-top: 65px;
        font-family: Roboto;
        font-size: 30px;
        color: rgb(55, 107, 184);
        margin-left: 20px;
        margin-bottom: 30px;
    }


    /*------- Section "Job Experience" -------*/

    .job-experience-date {
        display: inline;
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-right: 150px;
        font-size: 30px;
        margin-top: 70px;
    }

    .job-image-container {
        display: flex;
        align-items: center;
        margin-left: 250px;
        margin-top: 50px;
    }

    .job-container {
        display: inline-block;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    


    /*------- Section "My skills" -------*/


    .par-skills {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .logo-apple {
        width: 60px;
    }

    .general-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .operating-system-container {
        display: flex;
        justify-content: space-around;
    }

    .applicatives-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    .progress-bar-container {
        
        width: 250px;
        height: 15px;
        background-color: white;
        margin-left: 8px;
        display: flex;
        align-items: center;
        border: 0.1px solid black;
    }

    .progress-bar-apple {
        width:65%;
        height: 10px;
        background-color: green;
        
    }

    .progress-bar-windows {
        width: 45%;
        height: 10px;
        background-color: orange;
    }

    .percentage {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin-left: 2px;
    }





















































    /*------- Section "My new challenge" -------*/

    .image-dev {
        width: 20%;
    }

    .certificate {
        width: 50%;
    }

}
 
}